In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('test.csv')
df

,SHEET_ID,Cat_01,Cat_02,Cat_03,Cat_04,Cat_05,Cat_06,Cat_07,Cat_08,Cat_09,...,Col_4218,Col_4219,Col_4220,Col_4221,Col_4222,Col_4223,Col_4224,Col_4225,Col_4226,Col_4227
0,SHEET_ID_249,C,D,C,NaN,B,B,B,D,B,...,-0.268493,0.036458,0.010864,0.028627,2.942595,0.036778,0.009072,0.046965,0.032574,0.399520
1,SHEET_ID_250,B,B,B,D,B,B,B,B,A,...,NaN,0.012569,NaN,-0.076715,0.023074,0.032657,0.017573,0.089284,0.007650,0.230943
2,SHEET_ID_251,C,C,A,B,C,B,B,C,A,...,-0.388039,0.026623,0.072864,0.066964,0.556783,-0.040563,0.004629,0.058877,-0.001338,-0.028186
3,SHEET_ID_252,C,B,B,NaN,B,A,B,A,B,...,0.673418,-0.016376,-0.018521,NaN,-1.264363,0.035782,0.003335,0.085519,0.004880,0.096389
4,SHEET_ID_253,C,B,C,D,C,A,A,C,B,...,0.799960,0.054061,0.013184,0.092664,-1.385731,0.070895,0.008820,0.016402,0.047155,-0.010554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,SHEET_ID_307,A,D,C,C,C,B,B,D,B,...,0.067416,0.045500,0.089450,-0.036364,1.200175,0.045354,0.002311,0.084463,0.006425,-0.039701
59,SHEET_ID_308,A,B,C,D,B,NaN,B,A,A,...,-0.262706,0.000457,0.044425,0.054708,2.690775,-0.047550,-0.004595,0.019274,0.013976,0.155642
60,SHEET_ID_309,A,C,C,D,B,A,B,B,B,...,-0.009197,0.000472,0.002965,-0.002103,-0.022598,NaN,0.001686,0.010738,-0.000573,-0.007099
61,SHEET_ID_310,B,A,D,B,NaN,B,A,B,B,...,-0.006013,NaN,0.079862,0.187465,2.165997,0.184927,0.007169,0.188467,0.169976,1.841517
62,SHEET_ID_311,A,B,D,C,NaN,A,B,C,B,...,2.163081,0.004009,0.002337,0.007792,0.034502,0.006925,0.004552,0.010139,0.001777,0.052071

In [19]:
#離散型資料補眾數
df['Cat_01'] = df['Cat_01'].fillna(df['Cat_01'].mode()[0])
df['Cat_02'] = df['Cat_02'].fillna(df['Cat_02'].mode()[0])
df['Cat_03'] = df['Cat_03'].fillna(df['Cat_03'].mode()[0])
df['Cat_04'] = df['Cat_04'].fillna(df['Cat_04'].mode()[0])
df['Cat_05'] = df['Cat_05'].fillna(df['Cat_05'].mode()[0])
df['Cat_06'] = df['Cat_06'].fillna(df['Cat_06'].mode()[0])
df['Cat_07'] = df['Cat_07'].fillna(df['Cat_07'].mode()[0])
df['Cat_08'] = df['Cat_08'].fillna(df['Cat_08'].mode()[0])
df['Cat_09'] = df['Cat_09'].fillna(df['Cat_09'].mode()[0])
df['Cat_10'] = df['Cat_10'].fillna(df['Cat_10'].mode()[0])

In [20]:
#獲取column name
column_name = []
for col in df.columns:
    column_name.append(col)
print(len(column_name))

4238

In [21]:
#數值型資料column name
col_column_name = column_name[11:]

In [22]:
#補中位數與平均數的column name
fill_na_median = []
fill_na_mean = []
for i in col_column_name:
    if abs(df["{}".format(i)].skew()) > 2:
        fill_na_median.append(i)
    else:
        fill_na_mean.append(i)
print(len(fill_na_mean))
print(len(fill_na_median))

3225
1002

In [23]:
#平均數補值
for i in fill_na_mean:
    a = df["{}".format(i)].mean()
    df["{}".format(i)].fillna(a, inplace = True)
    
#中位數補值
for i in fill_na_median:
    a = df["{}".format(i)].median()
    df["{}".format(i)].fillna(a, inplace = True)

In [24]:
#離散資料編碼
dum = pd.get_dummies(df, columns=['Cat_01', 'Cat_02', 'Cat_03', 'Cat_04', 'Cat_05', 'Cat_06', 'Cat_07', 'Cat_08', 'Cat_09', 'Cat_10'])
pd.DataFrame(dum)

,SHEET_ID,Col_0001,Col_0002,Col_0003,Col_0004,Col_0005,Col_0006,Col_0007,Col_0008,Col_0009,...,Cat_07_A,Cat_07_B,Cat_08_A,Cat_08_B,Cat_08_C,Cat_08_D,Cat_09_A,Cat_09_B,Cat_10_A,Cat_10_B
0,SHEET_ID_249,7.183201,2.623086,9.163593,1.967966e+13,3.461600e+13,9.432765,3.962167,9187.587611,6.673853,...,0,1,0,0,0,1,0,1,1,0
1,SHEET_ID_250,6.673040,2.165369,21.686900,3.337718e+13,1.946592e+13,3.008422,1.659541,4456.955404,4.360642,...,0,1,0,1,0,0,1,0,1,0
2,SHEET_ID_251,6.938157,1.994090,12.353202,2.320366e+13,2.162570e+13,10.819600,4.357920,14265.559333,-1.258635,...,0,1,0,0,1,0,1,0,1,0
3,SHEET_ID_252,6.729008,2.031847,-4.968825,2.328884e+13,7.528022e+12,16.949079,5.016645,6599.191140,3.374991,...,0,1,1,0,0,0,0,1,0,1
4,SHEET_ID_253,6.848012,2.436151,3.729127,1.930377e+13,2.415264e+13,12.823447,1.448715,15174.547667,-0.012800,...,1,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,SHEET_ID_307,6.181731,2.176300,7.575069,2.419786e+13,2.396725e+13,1.275376,1.297792,11641.956712,2.943123,...,0,1,0,0,0,1,0,1,0,1
59,SHEET_ID_308,6.331791,2.011986,0.107361,3.395557e+13,-1.108843e+13,4.292309,5.287736,21803.938806,6.177264,...,0,1,1,0,0,0,1,0,1,0
60,SHEET_ID_309,6.757105,1.992871,1.820361,8.829926e+12,1.297949e+13,11.988121,0.697713,10275.443577,8.415287,...,0,1,0,1,0,0,0,1,1,0
61,SHEET_ID_310,6.553592,1.611050,15.879590,2.145872e+13,1.390338e+13,8.954928,2.801543,1451.568897,4.216993,...,1,0,0,1,0,0,0,1,0,1
62,SHEET_ID_311,6.520278,2.148968,5.706589,7.454460e+12,1.353450e+12,14.639654,3.051920,8753.421315,5.408683,...,0,1,0,0,1,0,0,1,0,1

In [26]:
dum

,SHEET_ID,Col_0001,Col_0002,Col_0003,Col_0004,Col_0005,Col_0006,Col_0007,Col_0008,Col_0009,...,Cat_07_A,Cat_07_B,Cat_08_A,Cat_08_B,Cat_08_C,Cat_08_D,Cat_09_A,Cat_09_B,Cat_10_A,Cat_10_B
0,SHEET_ID_249,7.183201,2.623086,9.163593,1.967966e+13,3.461600e+13,9.432765,3.962167,9187.587611,6.673853,...,0,1,0,0,0,1,0,1,1,0
1,SHEET_ID_250,6.673040,2.165369,21.686900,3.337718e+13,1.946592e+13,3.008422,1.659541,4456.955404,4.360642,...,0,1,0,1,0,0,1,0,1,0
2,SHEET_ID_251,6.938157,1.994090,12.353202,2.320366e+13,2.162570e+13,10.819600,4.357920,14265.559333,-1.258635,...,0,1,0,0,1,0,1,0,1,0
3,SHEET_ID_252,6.729008,2.031847,-4.968825,2.328884e+13,7.528022e+12,16.949079,5.016645,6599.191140,3.374991,...,0,1,1,0,0,0,0,1,0,1
4,SHEET_ID_253,6.848012,2.436151,3.729127,1.930377e+13,2.415264e+13,12.823447,1.448715,15174.547667,-0.012800,...,1,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,SHEET_ID_307,6.181731,2.176300,7.575069,2.419786e+13,2.396725e+13,1.275376,1.297792,11641.956712,2.943123,...,0,1,0,0,0,1,0,1,0,1
59,SHEET_ID_308,6.331791,2.011986,0.107361,3.395557e+13,-1.108843e+13,4.292309,5.287736,21803.938806,6.177264,...,0,1,1,0,0,0,1,0,1,0
60,SHEET_ID_309,6.757105,1.992871,1.820361,8.829926e+12,1.297949e+13,11.988121,0.697713,10275.443577,8.415287,...,0,1,0,1,0,0,0,1,1,0
61,SHEET_ID_310,6.553592,1.611050,15.879590,2.145872e+13,1.390338e+13,8.954928,2.801543,1451.568897,4.216993,...,1,0,0,1,0,0,0,1,0,1
62,SHEET_ID_311,6.520278,2.148968,5.706589,7.454460e+12,1.353450e+12,14.639654,3.051920,8753.421315,5.408683,...,0,1,0,0,1,0,0,1,0,1

In [27]:
#標準化
for i in col_column_name:
    dum["{}".format(i)] = (dum["{}".format(i)] - dum["{}".format(i)].mean()) / (df["{}".format(i)].std())
dum['Col_0001'].std()

1.0

In [28]:
dum.isnull().any().sum()

0

In [33]:
dum['Col_0596']

0     0.000000
1     0.000000
2     0.619900
3     2.031563
4     0.114905
        ...
58    0.638926
59    0.128333
60   -0.708332
61    0.259253
62    0.683473
Name: Col_0596, Length: 63, dtype: float64